html {
    font-family: sans-serif;
}
body{
    background-color: dimgray;
}
table {
    border-collapse: collapse;
    border: 4px solid rgb(24, 24, 24);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 2px solid rgb(103, 68, 68);
    width: 100px;
    padding: 10px 20px;
}

th {
    background-color: rgb(213, 103, 103);
}

td {
    text-align: center;
}

tbody {
    font-size: 95%;
    font-style: italic;
}

tfoot {
    font-weight: bold;
}

tr:nth-child(even) td {
    background-color: rgb(174, 90, 159);
}

tr:nth-child(odd) td {
    background-color: rgb(161, 141, 211);
}

td:nth-child(3), th:nth-child(3) {
    background-color: #ed4d4d !important; /* !important overrides*/
}







caption {
    color: aliceblue;
    padding: 10px;
}